.tableOuterContainer {
  padding: 23px;
  .headingButton {
    background: none;
    border: none;
    cursor: pointer;
  }
  .tableCell {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    .cryptoImg {
      height: 10px;
    }
  }
}
